<app-header></app-header>

<div class="container mt-5">
    <div style="height: 350px;" class="bg-success row align-items-center">
       <div class="col-lg-2"></div> 
       <div class="col-lg-8">
        <h1>Contact Us</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi excepturi aut sunt corrupti reiciendis unde facere voluptates aliquam illum nobis.
        </p>
       </div>
       <div class="col-lg-2"></div>
    </div>

    <div style="height: 650px;" class="row align-items-center my-5">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
            <h2>Get in touch</h2>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam esse accusamus repudiandae nostrum eligendi maiores consequuntur vel debitis ipsa? Soluta quae est perferendis, aut, dolore sequi, molestias nulla culpa consequuntur molestiae ab illum dicta eveniet accusamus modi sit laboriosam laborum.
            </p>
            <div class="d-flex">
                <div class="bg-success d-flex rounded-circle justify-content-center align-items-center text-light me-3" style="width: 40px;height: 40px;">
                    <i class="fa-solid fa-location-dot"></i>
                </div>
                <div>
                    <h3>Address</h3>
                    <p>seventh avenuw,new jersey</p>
                </div>
            </div>
            <div class="d-flex">
                <div class="bg-success d-flex rounded-circle justify-content-center align-items-center text-light me-3" style="width: 40px;height: 40px;">
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <div>
                    <h3>Email</h3>
                    <p>{{demomail}}</p>
                </div>
            </div>
            <div class="d-flex">
                <div class="bg-success d-flex rounded-circle justify-content-center align-items-center text-light me-3" style="width: 40px;height: 40px;">
                    <i class="fa-solid fa-phone"></i>
                </div>
                <div>
                    <h3>Phone Number</h3>
                    <p>0340334034</p>
                </div>
            </div>
            <hr>
            <h2>Connect With Us</h2>
            <div class="d-flex mt-4">
                <div style="width: 40px;height: 40px;" class="rounded-circle bg-success d-flex justify-content-center align-items-center text-light me-3">
                    <i class="fa-brands fa-facebook"></i>
                </div>
                <div style="width: 40px;height: 40px;" class="rounded-circle bg-success d-flex justify-content-center align-items-center text-light me-3">
                    <i class="fa-brands fa-whatsapp"></i>
                </div>
                <div style="width: 40px;height: 40px;" class="rounded-circle bg-success d-flex justify-content-center align-items-center text-light me-3">
                    <i class="fa-brands fa-twitter"></i>
                </div>
                <div style="width: 40px;height: 40px;" class="rounded-circle bg-success d-flex justify-content-center align-items-center text-light me-3">
                    <i class="fa-brands fa-instagram"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-4">
            <h1>Client Testmonial</h1>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Name">
            </div>
            <div class="mb-3">
                <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="mb-3">
                <textarea name="" id="" class="form-control" placeholder="message"></textarea>
            </div>
            <p>
                By Submitting,your agreeing the terms and conditions of our website
            </p>
            <div class="float-end">
                <button class="text-light btn btn-success">Submit</button>
            </div>
        </div>
        <div class="col-lg-1"></div>

    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.9816323397263!2d76.34000487450872!3d10.018374072719348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080ffce877d5ef%3A0x8bef6870ad11b98!2sLuminar%20Technolab%2C%20Python%2C%20MERN%20stack%2C%20Software%20Testing%2C%20Data%20science%2C%20Artificial%20intelligence%2C%20asp.net%20training%20in%20kochi!5e0!3m2!1sen!2sin!4v1732177694004!5m2!1sen!2sin" width="1300" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>