<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 bg-success text-light d-flex flex-column p-3 shadow">
            <h5 class="text-light text-center fw-bolder">
                <i class="fa-solid fa-graduation-cap"></i>
               RW-Admin 
            </h5>
            <a routerLink="admin" style="text-decoration: none;" class="text-warning fw-bolder mb-4">Dashboard</a>
            <a routerLink="admin" style="text-decoration: none;" class="text-warning fw-bolder mb-4">Manage Receipie</a>
            <a routerLink="admin" style="text-decoration: none;" class="text-warning fw-bolder mb-4">Receipie-List</a>
            <a routerLink="admin" style="text-decoration: none;" class="text-warning fw-bolder mb-4">Request</a>
            <a routerLink="admin" style="text-decoration: none;" class="text-warning fw-bolder mb-4">Downloads</a>
            <a routerLink="admin" style="text-decoration: none;" class="text-warning fw-bolder mb-4">Users</a>

                <button class="btn btn-warning mb-4">Logout</button>
        </div>
        <div class="col">
            <h1>Welcome Admin</h1>
        </div>
    </div>
</div>
