<app-header></app-header>

<div class="container w-100 mt-5 mb-3">
 <div class="row bg-success p-5 w-100 shadow-lg rounded">
    <div class="col-lg-1"></div>
    <div class="col-lg-5 mt-5 text-light fw-bolder">
        <h1>Most easiest way to make your favourite dish</h1>
        <p>Explore 100+ recipies</p>

        <a routerLink="/recipies">Explore Now</a>
    </div>
    <div class="col-lg-6">
        <img src="https://images.pexels.com/photos/1092730/pexels-photo-1092730.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" class="rounded w-full h-full">
    </div>
 </div>

    <!-- poular recipe -->
<div class="my-3 p-5">
    <h1>Popular Recipes of the week</h1>
  <div class="d-flex justify-content-between">
    <p>Our Most Popular Recipe of the week</p>
    <a routerLink="/recipies">View All</a>
  </div>

 <div class="row my-3">
    <div class="col-lg-8">
        <div class="p-3">
            <img src="https://img.freepik.com/free-photo/top-view-table-full-delicious-food-composition_23-2149141352.jpg" width="100%" class="object-fit-contain" alt="">
            <div class="card-body">
                <h4>title</h4>
            </div>
        </div>
    </div>
</div>
 </div>

 <div style="height: 400px;background-repeat: no-repeat;background-size: cover;background-image: url(https://cdn.pixabay.com/photo/2023/06/20/17/30/youtube-banner-8077450_1280.jpg);" class="row align-items-center my-5 rounded-3 shadow-lg">
<div class="col-lg-6"></div>
<div class="col-lg-6">
    <div class="bg-light rounded p-3 w-75">
        <h5 class="text-warning">50+ Recipes quick and fast</h5>
  <p class="text-dark">Find the perfect food ideas to start your day</p>
</div>
 </div>
</div>

<div style="height: 500px;" class="my-3 row text-light align-items-center bg-success rounded p-5">
<div class="col-lg-6">
    <img src="https://static.vecteezy.com/system/resources/previews/022/484/501/non_2x/google-play-store-icon-logo-symbol-free-png.png" alt="" style="width: 350px; margin-left: 100px;border-radius: 50%;">
</div>
<div class="col-lg-6 text-center">
<h1>Download App</h1>
<h5>Download app from playstore or <br> apple store</h5>
<div>
    <img src="https://w7.pngwing.com/pngs/912/1019/png-transparent-app-store-google-play-apple-apple-text-logo-sign-thumbnail.png" style="mix-blend-mode: darken;" alt="">
</div>
</div>
</div>

<div class="text-center my-5">
<h1>Client Testmonials</h1>
<marquee behavior="" direction="">
    <div class="row my-5">
        <div class="col-lg-4">
            <div class="rounded border w-100 p-2 shadow">
                <h5>Name</h5>
                <p style="white-space: normal;width: 1005; text-align: justify;">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad nobis magni provident debitis hic quibusdam officia nulla nisi. Dolor consectetur adipisci sed, dolorem sapiente facilis beatae porro! Perferendis ullam sed iure iste ipsam. Modi voluptates possimus vero voluptatibus veritatis eos.
                </p>
            </div>
        </div>
    </div>
</marquee>
</div>