<div
  style="min-height: 100vh"
  class="container d-flex flex-column align-items-center justify-content-center"
>
  <div class="row align-items-center w-100">
    <div class="col-lg-2"></div>
    <!-- Registration Form -->
    <div class="col-lg-4 col-md-6 mb-4">
      <h1 class="text-center">Register</h1>
      <p class="text-center text-muted">Explore 100+ recipes</p>
      <div class="shadow border rounded p-4">
        <div class="mb-3 text-center">
          <h3 class="fw-bold">Recipe Hub</h3>
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <div class="mb-3 text-center">
            <input
              type="text"
              placeholder="Enter your name"
              class="form-control"
              formControlName="username"
            />
          </div>
          @if(registerForm.get("username")?.errors){
            <P class="text-danger">Invalid Username</P>
          }
          <div class="mb-3 text-center">
            <input
              type="email"
              placeholder="Enter your email"
              class="form-control"
              formControlName="email"
            />
          </div>
          @if(registerForm.get("email")?.errors){
            <P class="text-danger">Invalid email</P>
          }
          <div class="mb-3 text-center">
            <input
              type="password"
              placeholder="Enter your password"
              class="form-control"
              formControlName="password"
            />
          </div>
          @if(registerForm.get("password")?.errors){
            <P class="text-danger">Invalid password</P>
          }
          <div class="d-grid">
            <button class="btn btn-success" type="submit">Register</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-1"></div>
    <!-- Information Section -->
    <div class="col-lg-3 col-md-6">
      <h1>Create Account</h1>
      <h5 class="text-muted">What You'll Get</h5>
      <ul class="mt-4">
        <li>Discover new recipes</li>
        <li>Simple and easy instructions</li>
        <li>Save your favorite recipes</li>
        <li>Download recipes anytime</li>
      </ul>
    </div>
  </div>
</div>
